.product {
    // max-width: 280px;
    padding: 0 10px 20px 10px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: .3s;

    @media (any-hover: hover) {
        &:hover {
            box-shadow: 0px 0px 30px -10px rgb(163, 163, 163);
        }
    }
    
    // .product__img

    &__img {
        position: relative;
        // height: 230px;
        padding-bottom: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        // margin-bottom: 10px;
        text-align: center;
        // padding: 10px;
        overflow: hidden;

        & img {
            position: absolute;
            width: 100%;
            height: 90%;
            left: 0;
            top: 10px;
            object-fit: contain;
            max-width: 100%;
            transition: .3s;

            @media (any-hover: hover) {
                &:hover {
                    transform: scale(1.1);
                    
                }
            }
        }
    }

    // .product__title

    &__title {
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 22px;
        text-align: center;
    }

    &__content {
        flex: 1 1 auto;
    }

    &__ingredients {
        font-size: 12px;
        margin-bottom: 15px;

        &-title {
            font-size: 12px;
            font-weight: 700;
            margin-bottom: 5px;
        }
    }

    &__weight {
        font-size: 12px;
    }

    // .product__options

    &__options {
        font-size: 14px;
        font-weight: 700;

        border-radius: 10px;
        // background-color: #F3F3F3;

        padding: 5px;

        display: flex;
        flex-direction: column;
        gap: 15px;

        margin-bottom: 20px;
    }

    // .product__type-block

    &__type-block {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 5px;
    }

    // .product__type

    &__type {
        background-color: transparent;
        text-align: center;
        padding: 10px;
        flex: 1 1 auto;
        transition: .3s;
        cursor: pointer;
        border: 1px solid rgb(75, 75, 75);
        border-radius: 25px;

        &._active {
            background-color: rgb(75, 75, 75);
            color: #FFF;
        }

        &._blocked {
            opacity: .5;
            cursor: default;
            pointer-events: none;
        }
    }

    // .product__size-block

    &__size-block {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 5px;
    }

    // .product__size

    &__size {
        border: 1px solid rgb(75, 75, 75);
        border-radius: 25px;
        text-align: center;
        padding: 10px;
        flex: 1 1 auto;
        cursor: pointer;
        transition: .3s;

        &._active {
            background-color: rgb(75, 75, 75);
            color: #FFF;
        }

        &._blocked {
            opacity: .5;
            cursor: default;
            pointer-events: none;
        }
    }

    // .product__buy-block

    &__buy-block {
        display: flex;
        align-items: center;
        justify-content: space-between;


    }

    // .product__price

    &__price {
        font-size: 22px;
        font-weight: 700;
    }

    // .product__btn

    &__btn {}
}

.buy-btn {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    padding: 5px 25px;

    font-size: 16px;
    font-weight: 700;

    border-radius: 30px;
    border: 1px solid #EB5A1E;
    color: #EB5A1E;
    background-color: #FFF;

    transition: .3s;

    &:hover {
        background-color: #EB5A1E;
        color: #FFF;
    }

    &:active {
        transform: translateY(2px);
    }
    // .buy-btn__quantity

    &__quantity {
        padding: 5px 11px;
        background-color: #EB5A1E;
        color: #FFF;
        border-radius: 50%;
        // display: flex;
        // align-items: center;
        // justify-content: center;
    }
}